@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Minecraft';
}

.ad-zone {
  position: absolute;
  display: none;     
  overflow: hidden;
  z-index: 9999; 
  pointer-events: auto;
}
